<div class="container">
    <!-- <ul class="nav nav-pills nav-fill">
      <li class="nav-item pe-2">
        <a class="nav-link" routerLink="/admin">Formations</a>
      </li>
      <li class="nav-item pe-2">
        <a class="nav-link active" routerLink="/admin/commandes">Commandes</a>
      </li>
      <li class="nav-item pe-2">
        <a class="nav-link">Clients</a>
      </li>
    </ul> -->
    <h4 class="m-3">Liste des commandes</h4>
    <ng-container *ngIf="(listOrders | keyvalue)?.length; else empty">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th scope="col" class="text-center">REF</th>
              <th scope="col" class="text-center">DATE</th>
              <th scope="col">TOTAL</th>
              <th scope="col">CLIENT</th>
              <th scope="col" class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of listOrders">
              <th scope="row" class="text-center">{{ order.number }}</th>
              <td class="text-center">{{ order.date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ order.total }} €</td>
              <td>{{ order.customer.firstname + ' ' + order.customer.lastname}}</td>
              <td class="text-center">
                <a class="btn btn-success btn-sm" (click)="checkOrderDetails(order.id)">Voir détails</a>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    <ng-template #empty>
      <h5>Loading...</h5>
    </ng-template>
  </div>
  
  